$white:    #fff;
$black:    #333;

$blue:     #041e42;
$gray:     #63666a;

$indigo:   #003da5;
$purple:   #1056b4;
$pink:     #e83e8c;
$red:      #d50032;
$orange:   #fd7e14;
$yellow:   #f8e08e;
$green:    #64a70b;
$teal:     #20c997;
$cyan:     #398eff;
